* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.table {
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: row;

}

.cols {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.box {
    flex: 1;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color: white;
}

#color-choice {
    border: 1px solid navy;
    width: 100px;
    height: 40px;
    border-radius: 6px;

}

button {
    border: 1px solid navy;
    color: navy;
    background: white;
    padding: 10px 10px;
    font-weight: bold;

}

.options-container {
    width: 600px;
    display: flex;
    justify-content: space-around;

}


.options-container .active {
    background-color: #B3E5FC;
}

.clear:active, .new-grid:active {
    background-color: #B3E5FC;
}

/* .change-bg {
   
} */