* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.table {
    width: 700px;
    height: 700px;
    display: flex;
    flex-direction: row;

}

.cols {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.box {
    flex: 1;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color: white;
}

.change-bg {
   
}